:host {
  text-align: right;
  align-self: center;

  p {
    color: #fff;
  }
}

.weather-title {
  font-size: 12vw;
  font-weight: bold;
}

.weather-subtitle {
  font-size: 4vw;
}

@media screen and (orientation: landscape) {
  .weather-title {
    font-size: 6vw;
  }

  .weather-subtitle {
    font-size: 2.5vw;
  }
}

