:host {
  text-align: right;

  .weather-title {
    font-size: 50px;
    font-weight: bold;
  }

  .weather-subtitle {
    font-size: 20px;
  }

  @media (orientation: portrait) {
    .weather-title {
      font-size: 10vw;
    }

    .weather-subtitle {
      font-size: 4vw;
    }
  }
}
