<form class="weather-form" onsubmit="return false">
  <input
    name="city"
    class="weather-input"
    type="text"
    placeholder="Type city here..."
    autocomplete="off"
    [(ngModel)]="city"
    [ngClass]="{'input-error': visibleSection === 'error'}">

  <input class="weather-submit"
         type="submit"
         (click)="onGetWeather()"
         value="I wanna know it, too">
</form>

<div class="weather-information">
  <app-information
    class="collapsible"
    [ngClass]="visibleSection !== 'info' ? 'collapsed' : 'weather-block-margin'"
    [temperature]="temperature"
    [imagePath]="imagePath"
    [description]="description"></app-information>

  <app-error
    class="collapsible"
    [ngClass]="visibleSection !== 'error' ? 'collapsed' : 'weather-block-margin'"
    [error]="errorText"></app-error>
<!--  [ngClass]="{'collapsed': visibleSection !== 'error'}"-->
</div>
