:host {
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.weather-form {
  display: flex;
  flex-direction: column;
}

.weather-input {
  transition: border 0.3s ease-out;
  text-align: center;
  font-size: 7vw;
  margin: 20px 0;
}

.weather-submit {
  cursor: pointer;
  border: 0;
  font-size: 7vw;
  color: #eee;
  display: block;
  margin: 0 auto;
  border-radius: 2vmin;
  background: url("../../../assets/image/search.png") no-repeat #444 scroll 5vw center;
  background-size: 6vw;
  padding: 2vw 8vw 2vw 15vw;
}

.weather-submit:hover {
  background-color: #333;
}

@media (orientation: landscape) {
  .weather-submit {
    font-size: 3vw;
    padding: 2vw 2vw 2vw 7vw;
    background-position-x: 1vw;
    background-size: 4vw;
  }

  .weather-input {
    font-size: 4vw;
  }
}
