:host {
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.weather-form {
  display: flex;
  flex-direction: column;
}

.weather-input {
  text-align: center;
  font-size: 7vw;
  margin: 5vh 0;
  border-radius: 100vw;
}

input:focus {
  outline: none;
}

.weather-submit {
  cursor: pointer;
  border: 0;
  font-size: 7vw;
  color: #eee;
  display: block;
  margin: 0 auto;
  border-radius: 100vw;
  background: url("../../../assets/image/search.png") no-repeat #444 scroll 5vw center;
  background-size: 6vw;
  padding: 2vw 8vw 2vw 15vw;
}

.weather-submit:hover {
  background-color: #333;
}

.weather-submit:focus {
  background-color: #333;
}

@media (orientation: landscape) {
  .weather-submit {
    font-size: 4.3vh;
    padding: 2vh 5vh 2vh 12vh;
    background-position-x: 2vh;
    background-size: 6vh;
  }

  .weather-input {
    font-size: 4vh;
  }
}
