:host {
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.weather-form {
  display: flex;
  flex-direction: column;
}

.city-input {
  text-align: center;
  font-size: 2.5em;
  border-radius: 100vw;
  padding: 0.2em 0;
}

.city-input-block {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

.weather-submit {
  font-size: 2.5em;
  background: url("../../../assets/image/search.png") no-repeat #444 scroll 0.4em center;
  background-size: 1em;
  padding: 0.4em 0.8em 0.4em 1.8em;
}

.weather-submit:hover, .weather-submit:focus {
  background-color: #333;
}

.weather-submit:disabled {
  background-color: #666;
}

.error-hint {
  color: #ff7373;
  font-size: 1.8em;
  margin-top: 0.5em;
}
