.weather-content {
  font-size: 4vw;
}

.weather-icon {
  height: 15vw;
  max-height: 100px;
}

.weather-temperature {
  color: #fff;
}

.weather-description {
  color: #fff;
  padding: 0 4vw;
}

@media screen and (orientation: portrait) {
  .weather-content {
    font-size: 12vw;
  }

  .weather-icon {
    height: 70vw;
  }
}
