.weather-content {
  margin-top: 3vmin;
  font-size: 8vmin;
  padding-bottom: 4vmin;
}

.weather-icon {
  height: 15vmin;
}

.weather-temperature {
  color: #fff;
}

.weather-description {
  color: #fff;
}
