.weather-content {
  font-size: 5vh;
}

.weather-icon {
  height: 15vh;
  max-height: 100px;
}

.weather-temperature {
  color: #fff;
}

.weather-description {
  color: #fff;
  padding: 0 4vh;
  margin-bottom: 2.5vh;
}

@media screen and (orientation: portrait) {
  .weather-content {
    font-size: 12vw;
  }

  .weather-icon {
    height: 70vw;
  }
}
