* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: url("assets/image/bg.jpg") no-repeat fixed;
  background-size: cover;
  background-position-y: 40%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  font-size: 1em;
  font-family: 'Public Sans', sans-serif;
  color: white;
}

@media (min-width: 500px) {
  body {
    font-size: 1.3em;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.5em;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 3em;
  }
}

input {
  border: none;
}

input:focus, button:focus {
  outline: none;
}

.input-error {
  border: 3px solid red;
}

a {
  color: white;
}

.collapsible {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2em;
  overflow: hidden;
  transition: all 0.3s ease-out;
  transition-property: max-height, border, padding;
  max-height: 100vh;
  border: 3px solid white;
  display: block;
}

.collapsed {
  max-height: 0;
  border: 0;
  padding: 0;
}

.weather-block-margin {
  margin-top: 2em;
}

button {
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 100vw;
  background-color: #444;
  color: #eee;
}

button:hover, button:focus {
  background-color: #333;
  color: white;
}

button:disabled {
  cursor: default;
  background-color: #666;
  color: #999;
}